a {
  color: black;
  text-decoration: none;
}
.container {
  width: 100%;
  height: 60px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(27, 211, 218, 0.53);
  margin-top: 15px;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}  
.derecha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}