:host {
    /* background: linear-gradient(to bottom, rgb(31, 172, 207), rgb(27, 211, 218)); */
    height: 100vh;
    position: absolute;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.menu-container {
    background-color: rgb(27, 211, 218);
}

.footer-container {
    margin-top: 100px;
}

/* .espacio {
    display: block;
    width: 100%;
    height: 150px;
} */


.titulo {
    text-align: center;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    margin: 30px 0 50px;
    color: #1BD3DA;
}
.doctores-container {
    padding-top: 150px;
}

.doctores {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px 0;
    margin-left: 50px;
}
.doctores {
    /* margin-bottom: 20px; */
}
.doctores .doctor p {
    color: rgb(80, 72, 72);
    margin: 3px 0;

}
.doctores .doctor h1, .doctores .doctor strong {
    color: #1BD3DA;
}
.doctores .doctor img {
    margin-top: 20px;
    width: 300px;
    height: 350px;
}
