:host {
  background: linear-gradient(to bottom, rgb(31, 172, 207), rgb(27, 211, 218));
  height: 100vh;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
*{
  transition: .3s;
}
.login-container {
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* background-color: rgb(41, 37, 37); */
  background-color: white;
  color: white;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
}
.login-container .tabs {
  display: flex;
  width: 100%;
  position: relative;
}
.login-container .tabs .line {
  display: block;
  height: 2px;
  transition: .3s;
  width: 50%;
  position: absolute;
  bottom: 0;
  background-color: rgb(27, 211, 218);
}
.login-container .tabs .line.lineActive {
  transform: translateX(100%);
}

.login-container .tabs button {
  width: 50%;
  border: none;
  outline: none;
  /* background-color: rgb(41, 37, 37); */
  background-color: white;
  color: black;
  height: 50px;
  font-size: 1.2em;
  font-family:'Poppins', sans-serif;
  cursor: pointer;
}
.login-container .loginBody  {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.login-container .loginBody > div {
  width: 100%;
  transition: .3s;
  padding: 20px 30px ;
  height: fit-content;
}
.login-container .loginBody form{
  text-align: center;
}

.login-container .loginBody .registro{
  right: -100%;
  position: absolute;
}
.login-container .loginBody input{
  width: 60%;
  margin: auto;
  height: 35px;
  border-radius: 18px;
  padding-left: 10px;
  outline: none;
  background-color: transparent;
  border: 2px solid rgb(35, 216, 223);
  color: black;
}
.login-container .loginBody input:focus{
  /* border: 2px solid rgb(35, 216, 223); */
  width: 70%;
}
.login-container .loginBody button{
  height: 35px;
  padding: 0 30px;
  color: white;
  background-color: rgb(35, 216, 223);
  outline: none;
  font-family: 'Poppins', sans-serif;
  border: none;
  cursor: pointer;
}

.login-container .loginBody .uc{
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  flex-direction: column;
  color: rgb(35, 216, 223);
}
.login-container .loginBody .uc label{
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5px;

}

.registroActive{
  transform: translateX(-100%);

}
.loginOff{
  transform: translateX(-100%);
}
.login-container .loginBody .registro .uc{
  margin-bottom: 20px;
}
.returnHome {
  background-color: #fff;
  padding: 15px 0;
}
.returnHome a{
  text-decoration: none;
  padding: 20px 50px;
  font-family: 'Poppins', sans-serif;
  color: rgb(35, 216, 223);
}
.incorrecto-container {
  background-color: rgba(0, 0, 0, .4);
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
}
.incorrecto {
  width: 500px;
  height: 400px;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  text-align: center;
  flex-direction: column;
}
.incorrecto fa-icon{
  font-size: 200px;
  color: rgb(35, 216, 223);
}
.incorrecto h1{
  color: rgb(35, 216, 223);
  margin-top: 25px;
  font-family: 'Poppins', sans-serif;
}
.incorrecto button {
  width: 200px;
  margin: auto;
  outline: none;
  border: none;
  background-color: rgb(35, 216, 223);
  color: white;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}


