<div class="login-container">
	<div class="tabs">
		<button class="tab-active" (click)="abrirLogin()">Login</button>
		<button (click)="abrirRegistro()">Registrate</button>
		<div class="line" #line></div>
	</div>
	<div class="loginBody">
		<div class="login" #login>
			<form action="">
				<div class="uc usuario">
					<label for="usuario"><fa-icon [icon]="faUserAlt"></fa-icon> Usuario</label>
					<input type="text" name="usuario" id="" placeholder="Usuario" autocomplete="off" [(ngModel)]="Usuario">
				</div>
				<div class="uc contrasena">
					<label for="Contraseña"><fa-icon [icon]="faLock"></fa-icon> Contraseña</label>
					<input type="password" name="Contraseña" id="" placeholder="Contrasena" [(ngModel)]="Contrasena">
				</div>
				<button type="submit" (click)="redireccion()">Ingresar</button>
			</form>
		</div>
		<div class="registro" #registro>
			<form action="">
				<div class="uc usuario">
					<input type="text" name="usuario" id="" placeholder="Nombre de Usuario" autocomplete="off">
				</div>
				<div class="uc email">
					<input type="email" name="email" id="" placeholder="e-mail" autocomplete="off">
				</div>
				<div class="uc usuario">
					<input type="text" name="usuario" id="" placeholder="DNI" autocomplete="off">
				</div>
				<div class="uc password">
					<input type="password" name="password" id="" placeholder="Contraseña">
				</div>
				<div class="uc password2">
					<input type="password" name="password" id="" placeholder="Contraseña">
				</div>
				<button type="submit">Registrarse</button>
			</form>
		</div>
	</div>
</div>
	<div class="returnHome">
		<a [routerLink]="['../home']">Volver al Home</a>
</div>


<div class="incorrecto" #incorrecto>
	<div class="datos">
		<h1>Datos Incorrectos</h1>
		<p>Vuelva a ingresar sus datos</p>
	</div>
	<div class="equis">
		<fa-icon [icon]="faTimes"></fa-icon>
	</div>
	<button (click)="volverLogin()">Cerrar</button>
</div>