* {
  font-family: "Poppins", sans-serif;
}

.dateInfo-container {
  width: calc(100vw - 170px);
  height: 100vh;
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  margin-left: 170px;
}

.navigation {
  display: inline-flex;
}

.navigation fa-icon {
  color: black;
  font-size: 25px;
  cursor: pointer;
  margin-right: 15px;
}

.navigation fa-icon:hover {
  color: rgb(116, 114, 114);
}

.info {
  display: flex;
  flex-direction: column;
}

.doctor-container {
  height: calc(100% - 60px);
  margin-left: 36.875px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.doctor-profile {
  height: 75%;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.doctor-img {
  width: fit-content;
  height: fit-content;
  font-size: 100px;
}

.doctor-info {
  margin: 10% 0 25px;
  width: 80%;
}

.doctor-recomendations {
  height: 85%;
  width: 55%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.doctor-recomendations h5 {
  font-size: 20px;
}

.sintomas,
.recomendaciones {
  height: 45%;
  width: 100%;
  border: 2px solid #1BD3DA;
  border-radius: 10px;
  padding: 10px;
}

.list {
  width: 90%;
  margin-top: 15px;
  height: calc(100% - 20px);
  list-style: circle;
  margin: 0 auto;
  padding-left: 18px;
  font-size: 16px;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

.button {
  padding: 10px 20px;
  background-color: #1bd3da;
  margin-bottom: 20px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  align-self: center;
}
