*{
    font-family: 'Poppins', sans-serif;
}

.formulario-container {
    margin-left: 170px;
    width: calc(100% - 170px);
    height: 100vh;
}
.formulario-container .titulo h1{
    padding: 40px 0 70px;
    margin-left: 70px;
    color: #1BD3DA;
    font-size: 3em;
}
.formulario-container .formulario {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 60px;
}
.formulario-container .formulario>div {
    width: 500px;
}
.formulario-container .formulario .izquierda{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,100px);
}
.formulario-container .formulario input, .formulario-container .formulario textarea {
    padding: 10px 5px;
}
.formulario-container .formulario .izquierda input {
    height: 30px;
    width: 250px;   
    outline: none;
    border: 2px solid #8d8f8f;
    align-self: center;
}
.formulario-container .formulario .izquierda label {
    align-self: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.formulario-container .formulario .derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.formulario-container .formulario .derecha .sintomas-container > fa-icon{
    position: absolute;
    right: 8px;
    margin-top: 2px;
    color: #8d8f8f;
    cursor: pointer;
}
.formulario-container .formulario .derecha>div{
   width: 100%;
   margin-bottom: 30px;
}
.formulario-container .formulario .derecha h2{
    text-align: center;
    margin-bottom: 20px;

}
.formulario-container .formulario .derecha input {
    outline: none;
    border: 2px solid #8d8f8f;
    height: 30px;
    width: 100%;
    border-radius: 10px;
}
.formulario-container .formulario .derecha input:nth-child(n+2) {
    border-top: none;
}

.formulario-container .formulario .derecha .descripcion textarea {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #8d8f8f;
    resize: none;
    padding-top: 5px;
}
.formulario-container button {
    display: block;
    margin: auto;
    padding: 10px 45px;
    background-color: #1BD3DA;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

.formulario-container .formulario .derecha .sintomas .anadirSintoma{
    height: 30px;
    border-radius: 10px;
    border: 2px dashed #8d8f8f;
    border-top: none;
    text-align: center;
    color: #8d8f8f;
    cursor: pointer;
}
.inputJs{
    background-color: #000;
}
mat-form-field {
    align-self: center;
}